@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Bem Vindo à Academia Personalizada</title>
    <!-- Inclua as referências para os arquivos do Bootstrap aqui, se ainda não estiverem incluídos -->
    <!-- Exemplo:
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    -->
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="text-center">
            <h1>Bem Vindo ao Treino de Academia Personalizado</h1>
            <p>Esperamos que tenha uma ótima experiência de treino conosco!</p>
        </div>
    </div>
</body>
</html>